#version=DEVEL
ignoredisk --only-use=sda,sdb
iscsiname iqn.1994-05.com.redhat:38e3ff71f3d
autopart
# Partition clearing information yeet
clearpart --none --initlabel
# Use graphical install
graphical
# Use hard drive installation media
harddrive --dir=None --partition=/dev/mapper/live-base
# Keyboard layouts
keyboard --vckeymap=gb --xlayouts='gb'
# System language
lang en_US.UTF-8

# Network information
network  --hostname=Panopticon
#Root password
rootpw --lock
user --groups=wheel --name=daedalus --password=$6$pfOqWd1afguQVhCQ$GV6YbYKLNSOctfg1010VUZ.HkCNhLXBAAoBbDLGOVyZZLls5gXbPPoBTjEBtNV.8kKcCA6quyrCGy8tL.5Fmk. --iscrypted --gecos="daedalus"
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --enabled="chronyd"
# System timezone
timezone America/Chicago --isUtc

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
